*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}
body{
    font-family: "arial";
    font-size: 14px;
    line-height: 24px;
    color: #000;
}

/* 헤더 */
header{
    border-top: 3px solid #009132;
    border-bottom: 1px solid #ccc;
}
.header_inner{
    width: 1200px;
    height: 150px;
    margin: auto;
    position: relative;/*기준*/
}
.header_inner h1{
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -101px;
}

.link{
    position: absolute;
    top: 30px;
    right: 0;
}
.link li{
    float: left;
}
.link li a{
    display: block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 50px;
    margin-left: 5px;
}
.link li a:hover{
    background-color: #ccc;
}

.nav{
    position: absolute;
    top: 86px;
    left: 0;
    width: 100%;
}
.nav> li{
    float: left;
    width: 20%;
    text-align: center;
}
.nav> li> a{
    font-weight: bold;
    font-size: 20px;
    display: block;
    padding: 20px 0;
}

.sub a{
    display: block;
    background-color: #009132;
    color: #fff;
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.sub a:hover{
    background-color: #ffc20d;
    color: #009132;
}

.sub{
    display: none;/*서브메뉴 안보이게 만들기*/
}
.nav li:hover .sub{
    display: block;/*서브메뉴 보이게 만들기*/
}

/* 메인배너 */
.mainbanner img{
    width: 100%;
}

/* 버튼 */
.button{
    width: 1200px;
    margin: auto;
    position: relative;/*기준*/
}
.button ul{
    position: absolute;
    right: 0;
    top: -30px;
}
.button li{
    float: left;
}
.button a{
    display: block;
    padding: 20px 40px 20px 80px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.button ul li:nth-child(1) a{
    background: #ffc20d url(images/icon_map.png) no-repeat 40px center;
    border-radius: 30px 0 0 0;
}
.button ul li:nth-child(2) a{
    background: #009132 url(images/icon_franchise.png) no-repeat 40px center;
    border-radius: 0 0 30px 0;
    color: #fff;
}

/* 콘텐츠1 */
#content1{
    width: 1200px;
    height: 400px;
    margin: 100px auto;
}
#content1 h1{
    font-weight: 900;
    font-size: 40px;
    background: url(images/bullet.png) no-repeat;
    padding: 25px 0 10px 30px;
}
#content1 li{
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 20px;
}
#content1 h2{
    font-weight: 600;
    color: #333;
    padding-bottom: 20px;
}
#content1 p{
    color: #999;
}

/* 콘텐츠2 */
#content2{
    background: url(images/bg_contents.gif);
    height: 300px;
    padding: 100px 0;
}
.content_inner{
    width: 1200px;
    margin: auto;
}
.leftbox{
    float: left;
    width: 400px;
    height: 300px;
    background: #1aa3ff url(images/bg_method.png) no-repeat 180px 80px;
    border-radius: 30px 0 30px 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 50px 30px;
    box-sizing: border-box;
}
.content_inner h1{
    color: #fff;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 100px;
}
.content_inner a{
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 50px;
}
.rightbox{
    float: right;
    width: 770px;
    height: 300px;
    background: #fe8403 url(images/bg_history.jpg) no-repeat left top;
    padding: 50px 0 0 400px;
    box-sizing: border-box;
    border-radius: 30px 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/* 푸터 */
footer{
    background-color: #333;
    padding: 30px 0;
}
.footer_inner{
    width: 1200px;
    margin: auto;
}
.left{
    float: left;
}
.left li{
    float: left;
    padding: 0 10px 30px 0;
}
.left li a{
    color: #999;
    font-weight: bold;
}
.left li a:hover{
    color: #fff;
}

.right{
    float: right;
}
.right li{
    float: left;
    padding-left: 10px;
    opacity: 0.7;
}
.right li:hover{
    opacity: 1;
}
.footer_inner p{
    clear: both;
    color: #999;
}